<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection"/>
</head>

<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="d-grid gap-3 col-md-8 mx-auto text-center">
                <h2>Prześlij archiwum (ZIP) do analizy</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group p-2">
                        <input type="file" name="file" class="form-control">
                    </div>
                    <div class="p-2">
                        <button type="submit" class="btn btn-primary">Analizuj plik</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container">
        <div class="row" id="wrapper">
            <div id="mynetwork" class="col-md mx-auto"></div>
            <div id="loadingBar">
                <div class="outerBorder" th:unless="${message == null}">
                    <div id="text">0%</div>
                    <div id="border">
                        <div id="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var dataSet = /*[[${dataSet}]]*/ null;
    console.log(dataSet);

    // dataSet.nodes.map(item => { id: item.id, label: item.label })
    function draw() {
        var nodes = new vis.DataSet(dataSet.nodes);

        // create an array with edges
        var edges = new vis.DataSet(dataSet.edges);

        var container = document.getElementById("mynetwork");
        var data = {
            nodes: nodes,
            edges: edges,
        };
        var options = {
            nodes: {
                shape: "dot",
                size: 16,
            },
            layout: {
                randomSeed: 34,
            },
            physics: {
                forceAtlas2Based: {
                    gravitationalConstant: -26,
                    centralGravity: 0.005,
                    springLength: 230,
                    springConstant: 0.18,
                },
                maxVelocity: 146,
                solver: "forceAtlas2Based",
                timestep: 0.35,
                stabilization: {
                    enabled: true,
                    iterations: 2000,
                    updateInterval: 25,
                },
            },
        };
        var network = new vis.Network(container, data, options);

        network.on("stabilizationProgress", function (params) {
            var maxWidth = 496;
            var minWidth = 20;
            var widthFactor = params.iterations / params.total;
            var width = Math.max(minWidth, maxWidth * widthFactor);

            document.getElementById("bar").style.width = width + "px";
            document.getElementById("text").innerText =
                Math.round(widthFactor * 100) + "%";
        });
        network.once("stabilizationIterationsDone", function () {
            document.getElementById("text").innerText = "100%";
            document.getElementById("bar").style.width = "496px";
            document.getElementById("loadingBar").style.opacity = 0;
            // really clean the dom element
            setTimeout(function () {
                document.getElementById("loadingBar").style.display = "none";
            }, 500);
        });
    }

    window.addEventListener("load", () => {
        draw();
    });
    /*]]>*/
</script>
</body>
</html>
